###> symfony/framework-bundle ###
/docker-compose.override.yml
/.env.local
/.env.*.local
/.env
/.env.prod
/.env.stage
/.env.dev
/.env.test
/.env.*
!.env.example
!/docker/php/Dockerfile
/php
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
